<!DOCTYPE html>
<html ng-app="lessons">
<head>
  <base href="/">
  <meta name="google-site-verification" content="w-AjB4ZfZJeA_zvgq94G8gjGKTHjbIlZme7cA_1a5cM" />
  <title>grinds, lessons, learn, music, languages, piano, guitar, french, german, spanish | Learn Your Lesson</title>
  <meta property="og:url"                content="https://www.learnyourlesson.ie" />
  <meta property="fb:app_id"             content="180552122371678" />
  <meta property="og:type"               content="website" />
  <meta property="og:image"              content="https://s3-eu-west-1.amazonaws.com/angular-lessons/static_assets/facebook_logo.jpg" />
  <meta property="og:description"        content="Learn Your Lesson is your place to connect with local teachers on languages, music lessons, or any other skill you wish to learn in Ireland" />
  <meta name="description" content="Learn Your Lesson is your place to connect with local teachers on languages, music lessons, or any other skill you wish to learn in Ireland.">
  <meta name="keywords" content="Ireland,education,tutorials,lessons,languages,skills,school,grinds,music">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon3.ico' %>
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" async></script>
  

  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" async defer> -->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBpOd04XM28WtAk1LcJyhlQzNW6P6OT2Q0" async defer></script>

  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>


  <%= csrf_meta_tags %>
  <!-- <meta name="viewport" content="width=device-width"> -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
</head>
<body layout="column">
    
  

<%= yield %>
  <ul class="share-buttons">
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.learnyourlesson.ie&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">
      <%= image_tag('Facebook.png', alt: "Share on facebook") %></a>
    </li><br>
    <li>
      <a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fwww.learnyourlesson.ie&text=:%20https%3A%2F%2Fwww.learnyourlesson.ie" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
      <%= image_tag('Twitter.png', alt: "Share on twitter") %></a>
    </li><br>
    <li>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.learnyourlesson.ie&title=&summary=&source=https%3A%2F%2Fwww.learnyourlesson.ie" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;">
      <%= image_tag('LinkedIn.png', alt: "Share on linkedin") %></a>
    </li>
  </ul>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85789811-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>



